@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300);

body {
    font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1, h2, h3	{
	font-family: Raleway, Helvetica, sans-serif;
	font-size: 400;
}

h1 {
	font-size: 200%;
}

h2	{
	font-size: 150%;
}

header	{
	background-color: rgba(70,70,70,0.5);
}

footer {
	background-color: #00E0EE;
}

.menu {
	background-color: #5000EE;
}

header p {
	font-size: 120%;
	color: #FFF;
	padding: 10px;
}

main {
	margin-left: 25%;
}